* {
  font-family: "FiraCode Nerd Font", "Noto Mono CJK JP", sans-serif;
  font-size: 13px;
}

window#waybar {
background-color: rgba(255, 241, 238, 0.75);
  color: #714541;
}

#workspaces button {
  padding: 0 5px;
  border: none;
  border-radius: 5px;
  box-shadow: none;
  text-shadow: none;
  outline: none;
  color: rgba(140, 100, 100, 0.8);
  background: transparent;
}

#workspaces button:hover {
  background: rgba(200, 162, 165, 0.5);
  color: rgba(113, 69, 65, 0.9);
}

#workspaces button.active {
  background-color: rgba(179, 112, 114, 0.8);
  color: rgba(254, 192, 186, 1.0);
}

#clock,
#cpu,
#custom-gpu,
#hyprland-language,
#mpd,
#pulseaudio,
#temperature {
  margin: 0 8px;
}

